.headerMain {
  background-image: url("../assets/bgImage.png"), url("../assets/bgImage2.png");
  background-size: 100%;
  object-fit: contain;
  background-position: 90% bottom;
  // background-blend-mode: exclusion;
  background-size: contain;
  background-repeat: no-repeat;
}
.header {
  color: white;

  .top {
    text-align: end;
    font-family: Montserrat !important;
    font-weight: 700;
    line-height: normal;
    font-style: italic;
    font-size: 2em;

    @media screen and (max-width: 572px) {
      font-size: 1.2em;
      text-align: center;
      margin: 20px 0px 0px 0px;
    }
    .revolution {
      position: relative;

      &::after {
        position: absolute;
        width: 100%;
        height: 20px;
        content: "";
        background: url(../assets/underline.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        // background: red;
        bottom: -20px;
        left: 0px;
      }
    }
  }

  .main {
    @media screen and (max-width: 572px) {
      font-size: 1.2em;
      text-align: center;
      h2 {
        font-size: 1.2em;
      }
    }
    h2 {
      font-size: 3em;
      margin: 0px;
      line-height: 30px;

      @media screen and (max-width: 572px) {
        font-size: 1.5em;
      }
      @media screen and (max-width: 400px) {
        font-size: 1.4em;
      }
      span {
        color: $light-purple;
      }
    }
    .register {
      margin: 30px 0px;
    }
    &__left {
      padding: 20vh 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 572px) {
        text-align: center;
        font-size: 1.1em;
        height: 70vh;
        justify-content: start;
        padding: 0px;
        padding: 5vh 0px;
        // padding: 10vh 0px;
      }

      .image {
        display: flex;
        align-items: center;
        img {
          height: fit-content;
          object-fit: cover;
        }
      }
      @media screen and (max-width: 572px) {
        .image {
          justify-content: center;
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
      .register {
        @media screen and (max-width: 572px) {
          margin: 20px auto;
        }
      }
      p {
        width: 50%;
        margin: 10px 0px;
        font-size: 1.1em;

        @media screen and (max-width: 572px) {
          margin: 20px auto;
          width: 70%;
        }
        @media screen and (max-width: 400px) {
          margin: 20px auto;
          width: 100%;
        }
      }
      // background-image: url("../assets/bgImage.png"),
      //   url("../assets/bgImage2.png");
      // background-size: 100%;
      // object-fit: contain;
      // background-position: right bottom;
      // background-blend-mode: exclusion;
      // background-size: contain;
      // background-repeat: no-repeat;

      .timer {
        span {
          font-family: $unica;
          font-size: 2em;
          font-weight: 500;
          font-family: Unica One;

          & > span {
            font-size: 0.5em;
            font-weight: 400;
          }
        }
        span + span {
          margin-left: 20px;
        }
      }
    }
  }
}

.intro {
  padding: 5vh 0px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 30px;
  }
  &_image {
    width: 50%;
    // height: 100%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      object-fit: contain;
      width: 90%;
      height: 90%;
    }
  }
  &_info {
    width: 45%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      p {
        font-size: 1.2em;
      }
    }

    h3 {
      color: white;
      font-size: 2em;
    }
    h3 + h3 {
      color: $light-purple;
      margin-bottom: 20px;
    }
    p {
      color: white;
      letter-spacing: 1px;
      line-height: 1.5em;
    }
  }
}
