$primary-color: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
$dark-blue: #150e28;
$dark-purple: #903aff;
$light-purple: #d434fe;
$Inter: 'Inter', sans-serif;
$unica : 'Unica One', cursive;
$idea : "../assets/idea.png";
@font-face {
    font-family: clashDisplay;
    src: url(../assets/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/Variable/ClashDisplay-Variable.ttf);
}